html,body {
    height: 100%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex-box-50 {
    flex-basis:50%;
}
.page-container{
    height: 100vh;
}
.main-backround {
    background: url('/assets/backgrounds/main-background.svg') no-repeat;
    background-size: cover;
}
