@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
html, body {
  height: 100%;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat";
}

.flex-box-50 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.main-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main-section-container .text-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: inherit;
}

.page-container {
  height: 100vh;
  padding: 20px 80px;
}

.flex-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-list {
  text-align: right;
}

.nav-list li {
  display: inline-block;
  padding: 0 2.5%;
  text-align: right;
}

.nav-list li a {
  color: white;
}

.logo {
  width: 100px;
}

.main-header {
  font-size: 40px;
  font-weight: 700;
}

.main-header-2 {
  font-size: 25px;
}

.helper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub-text {
  font-size: 15px;
  color: #adacac;
  margin-top: 5px;
}

.main-backround {
  background: url("/assets/backgrounds/main-background.svg") no-repeat;
  background-size: cover;
}

.rounded-input {
  border-radius: 40px;
}

.center-text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header nav {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.social-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-contact div {
  margin: 0px 10px;
}

.cta {
  padding: 1em 2em;
  font-size: 14px;
  border-radius: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#2655EE), to(#34B3FF));
  background: linear-gradient(90deg, #2655EE, #34B3FF);
  color: white;
}

.footer {
  padding: 0px 80px;
}

.centered-text {
  text-align: center;
}

@media only screen and (max-width: 1023px) {
  .footer {
    padding: 0px 0px;
  }
  .page-container {
    padding: 20px 10px;
  }
  .long-paragraph {
    padding: 0px 10px;
  }
}

.active-block {
  background: -webkit-gradient(linear, left top, right top, from(#2655EE), to(#34B3FF));
  background: linear-gradient(90deg, #2655EE, #34B3FF);
  color: white;
  border-radius: 10px 20px 10px 60px;
}

.text-left {
  text-align: left;
}

.content-block {
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
  border-radius: 10px 20px 10px 60px;
}

.contact-section {
  background: url("/assets/backgrounds/comment-background.svg") #FBFBFB no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-position-y: -175px;
  background-position-x: -300px;
}

.contact-section > div {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding: 30px;
}

.border-bottom {
  margin: 5px 0px 30px 0px;
  width: 50px;
  display: block;
  border-radius: 40px;
  border: 5px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(90deg, #2655EE, #34B3FF);
}

.form-container {
  border-radius: 5px;
  padding: 30px;
}

.form-container > form {
  background: white;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
  padding: 1.5em;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: inherit;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hide-desktop {
  display: none;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.form-group span {
  margin-bottom: 10px;
}

.form-group input {
  height: 40px;
}

.form-group input, .form-group textarea {
  resize: none;
  outline: none;
  padding: 2px 10px;
  background: #FBFBFB;
}

@media only screen and (min-width: 1500px) {
  .contact-section > div {
    -ms-flex-preferred-size: 41% !important;
        flex-basis: 41% !important;
  }
  .dir-rtl {
    direction: rtl;
  }
}

@media only screen and (max-width: 768px) {
  .main-header {
    font-size: 35px;
    text-align: center;
  }
  .hide-mobile {
    display: none !important;
  }
  .main-backround {
    background: url("/assets/backgrounds/mobile-background.svg");
    background-position-x: 20%;
    background-position-y: 65%;
  }
  .main-section-container .text-section {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  .content-block, .active-block {
    border-radius: 20px !important;
  }
  .nav-list li a {
    color: white;
  }
  .contact-section {
    -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important;
  }
  .form-container {
    -ms-flex-preferred-size: 85% !important;
        flex-basis: 85% !important;
    padding: 0px !important;
    margin: auto;
  }
  .contact-section > div {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .header nav {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  .center-mobile {
    text-align: center;
  }
  .hide-desktop {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */