@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

$main-header-size:40px;
$sub-text-font-size: 15px;
$primary-gradient:linear-gradient(90deg,#2655EE,#34B3FF);
html,body {
    height: 100%;
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}
.flex-box-50 {
    flex-basis:50%;
}

.main-section-container {
    display: flex;
    flex-grow: 1;
    .text-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: inherit;
        .text {
        }
    }
}
.page-container{
    height: 100vh;
    padding: 20px 80px;
}
.flex-c {
    display: flex;
    flex-direction: column;
}
.nav-list {
    text-align: right;
    li {
        display: inline-block;
        padding: 0 2.5%;
        text-align: right;
        a {
            color: white;
        }
    }
}
.logo {
    width: 100px;
}
.main-header {
    font-size: $main-header-size;
    font-weight: 700;
    // margin-bottom: 5px;
}
.main-header-2 {
    font-size: $main-header-size - 15px;
}
.helper {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-direction: column;
}
.sub-text {
    font-size: $sub-text-font-size;
    color: rgb(173, 172, 172);
    margin-top: 5px;
}
.main-backround {
    background: url('/assets/backgrounds/main-background.svg') no-repeat;
    background-size: cover;
}
.rounded-input {
    border-radius: 40px;
}
.center-text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
        flex-basis: 40%;
    }

}
.social-contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    div {
        margin: 0px 10px;
        // text-align: center;
    } 
}
.cta {
    padding: 1em 2em;
    font-size: 14px;
    border-radius: 40px;
    background: $primary-gradient;
    color: white;
}
.footer {
    padding: 0px 80px;
}
.centered-text {
    text-align: center;
}

@media only screen and (max-width:1023px) {
    .footer {
        padding: 0px 0px;
    }
    .page-container {
        padding: 20px 10px;
    }
    .long-paragraph {
        padding: 0px 10px;
    }
}

.active-block {
    background: $primary-gradient;
    color: white;
    border-radius: 10px 20px 10px 60px;
}
.text-left {
    text-align: left;
}
.content-block{
    box-shadow: 0 0 12px rgba( #000000, 0.16);
    border-radius: 10px 20px 10px 60px;

}
.contact-section {
    background: url("/assets/backgrounds/comment-background.svg") #FBFBFB no-repeat;
    background-size: contain;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    
    > div {
        flex-basis: 40%;
        padding: 30px;
    }
    // padding: 80px;
    background-position-y: -175px;
    background-position-x: -300px;
    // background: #
}
.border-bottom {
    margin: 5px 0px 30px 0px;
    width: 50px;
    display: block;
    border-radius: 40px;
    border: 5px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source:  $primary-gradient;
    
}
.form-container {
    
    border-radius: 5px;
    padding: 30px;
    > form {
        background: white;
        box-shadow: 0 0 6px rgba(#000000, 0.08);
        padding: 1.5em;
        height: 80%;
        display: flex;
        flex-direction: column;
        height: inherit;
        justify-content: space-evenly;
        
    }
}
.hide-desktop {
    display: none;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    span {
        margin-bottom: 10px;
    }
    input {
        // border-radius: 40px;   
        height: 40px;
    }

    input,textarea {
        // border: 1px solid rgb(201, 201, 201);
        resize: none;
        outline: none;
        padding: 2px 10px;
        background: #FBFBFB;
    }
}

@media only screen  and (min-width :1500px) {
    .contact-section > div {
        flex-basis:41% !important;
    }
    .dir-rtl {
        direction: rtl;
    }
}
@media only screen and (max-width:768px)
{
    .main-header {
        font-size: $main-header-size - 5px;
        text-align: center;
    }

    .hide-mobile {
        display: none !important;
    }
    .main-backround {
        background: url("/assets/backgrounds/mobile-background.svg");
        background-position-x: 20%;
        background-position-y: 65%;
    }
    .main-section-container .text-section {
        flex-basis: 100%;
        text-align: center;
    }
    .content-block,.active-block  {
        border-radius: 20px !important;
    }
    .nav-list {
        li a {
            color: white;
        }
    }
    .contact-section {
        flex-wrap: wrap-reverse !important;
    }
    .form-container {
        flex-basis: 85% !important;
        padding: 0px !important;
        margin: auto;
    }
    .contact-section > div {
        flex-basis: 100% ;
    }
    .header nav {
        flex-basis: 80%;
    }
    .center-mobile {
        text-align: center;
    }
    .hide-desktop {
        display: block;
    }
}